*{
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: map-get($colores, "color-principal")
}

/* barra de navegacion */

.nav{
    list-style: none;
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: $centrado;
    padding: 10px;
}

@import './extends';

.barra{
    z-index: 100;
    @extend %flexCenter;
    border-bottom: solid map-get($colores, "color-borde");;
    position: sticky;
    top: 0;
    background-color: map-get($colores, "color-fondo-nav");
}

.navegacion{
    display: flex;
    margin-right: 30px;
    transition: all 700ms ease;

    &:hover{
        background: #05111d;
        border-radius: 7px;
        padding: 6px 6px;
        border: solid 1px map-get($colores, "color-letra-nav");
    }
     
    a{
        text-decoration: none;
        font-size: 17px;
        color: map-get($colores, "color-letra-nav");
    }
    img{
        width: 50px;

        &:hover{
            border-radius: 10px;
        }
    }  
}

.h2p{
    text-align: $centrado;
}

.nav-text{
    color: #afbfc8;
}

h1{
    text-align: $centrado;
    color: map-get($colores, "color-h1");
}

.parrafos{
    font-size: 19px;
    color: map-get($colores, "color-parrafos");
    margin-left: 3px;
}

h2{
    margin-left: 7px;
}

/* footer */

.footer-all{
    width: $completo;
    background-color: map-get($colores, "color-fondo-footer");

    .grupo1{
        width: $completo;
        max-width: 1200px;
        margin: auto;
        @include grid (50px);
        padding: 45px 0px;

        .box {
            h2{
                color: map-get($colores, "color-letra-nav");;
                margin-bottom: 25px;
                font-size: 20px;
            }
            p{
                color: #efefef;
                margin-bottom: 10px
            }
        }
        .redes-sociales a{
            display: inline-block;
            text-decoration: none;
            width: 45px;
            height: 45px;
            line-height: 45px;
            color: map-get($colores, "color-letra-nav");
            margin-right: 10px;
            background-color: #0d2033;
            text-align: $centrado;
            transition: all 300ms ease;

            &:hover{
                color: aqua;
            }
        }
    }

    .grupo2{
        background-color: #0a1a2a;
        padding: 15px 10px;
        text-align: $centrado;
        color: map-get($colores, "color-letra-nav");

        small{
            font-size: 15px;
        }
    }
}

