*{
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: $color-principal;
}

/* barra de navegacion */

.nav{
    list-style: none;
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 10px;
}

.barra{
    z-index: 100;
    display: flex;
    justify-content:center;
    border-bottom: solid #0d212c;
    position: sticky;
    top: 0;
    background-color: #0b3044;
}

.navegacion{
    display: flex;
    margin-right: 30px;
    transition: all 700ms ease;

    &:hover{
        background: #05111d;
        border-radius: 7px;
        padding: 6px 6px;
        border: solid 1px white;
    }
     
    a{
        text-decoration: none;
        font-size: 17px;
        color: white;
    }
    img{
        width: 50px;

        &:hover{
            border-radius: 10px;
        }
    }  
}

.h2p{
    text-align: $centrado-texto;
}

.nav-text{
    color: #afbfc8;
}

h1{
    text-align: center;
    color: #1c3542;
}

.parrafos{
    font-size: 19px;
    color: #142730;
    margin-left: 3px;
}

h2{
    margin-left: 7px;
}

/* footer */

.footer-all{
    width: $completo;
    background-color: #0a141d;

    .grupo1{
        width: $completo;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        padding: 45px 0px;

        .box {
            h2{
                color: #fff;
                margin-bottom: 25px;
                font-size: 20px;
            }
            p{
                color: #efefef;
                margin-bottom: 10px
            }
        }
        .redes-sociales a{
            display: inline-block;
            text-decoration: none;
            width: 45px;
            height: 45px;
            line-height: 45px;
            color: #fff;
            margin-right: 10px;
            background-color: #0d2033;
            text-align: center;
            transition: all 300ms ease;

            &:hover{
                color: aqua;
            }
        }
    }

    .grupo2{
        background-color: #0a1a2a;
        padding: 15px 10px;
        text-align: center;
        color: #fff;

        small{
            font-size: 15px;
        }
    }
}

