.entrada{
    width: $completo;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(1, 1fr);
    margin-bottom: 50px;

    div video{
        width: 54%;
    }
}

.entrada-text{
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    justify-content: $centrado; 

    h3{
        font-weight:900;
        margin-bottom: 50px;
        font-size: 60px;
    }

    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        margin-bottom: 4px;
    }
}

.card{
    width: 22rem;
    margin-bottom: 100px;
}

.cards-fl{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width:800px){
    .footer-all{
    .grupo1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 25px 0px;
    }
}
    

    

    .img-grupo{
        display: flex;
        justify-content: $centrado;

    }

    .entrada div video{
        width: 94%;
    }

}

@media screen and (max-width: 750px) {

    .col-md-8{
        width: $completo;
    }

    .entrada-text h3{
        font-weight:700;
        margin-bottom: 50px;
        font-size: 40px;
    }

    .entrada div video{
        width: $completo;
    }

}

@media screen and (max-width: 624px) {

    .nav{
        flex-direction: column;
    }
    .navegacion{
        margin: 0;
    }

    .entrada{
        width: $completo;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 50px;
    }
    
    .entrada-text{
        margin-right: 0;   
    }

    .entrada-text{

    h3{
        font-weight:700;
        margin-bottom: 50px;
        font-size: 30px;
    }
}
}

@media screen and (max-width: 366px) {
    .nav{
       flex-direction: column;
    }

    .navegacion{
        margin: 0;
    }
    
}

