*{
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
}

.nav{
    list-style: none;
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 10px;
}

.barra{
    
    display: flex;
    justify-content:center;
    border-bottom: solid #0d212c;
    position: sticky;
    top: 0;
    background-color: #005d90 ;
}

.img-one img{
    width: 450px;
}


.navegacion{
    display: flex;
    margin-right: 30px;
    transition: all 700ms ease;

}

.navegacion a{
    text-decoration: none;
    font-size: 17px;
}

.navegacion img{
    width: 50px;
}  

.navegacion:hover{
    background: #022443;
    border-radius: 7px;
    padding: 6px 6px;

}

.navegacion.img:hover{
    border-radius: 10px;
}

body{
    background-color: #9fb1bc;
}

.h2p{
    text-align: center;
}

.img_1{
    border-radius: 6px;
    border-style: solid 3px;
}

.img-one{
    border:6px solid #6E8898;
    border-radius: 6px;
    margin-bottom: 6px;  
    width: fit-content;

}

.img-orden{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: center;
    gap: 140px;
}

.nav-text{
    color: #afbfc8;
}

h1{
    text-align: center;
    color: #1c3542;
}

.parrafos{
    font-size: 19px;
    color: #142730;
    margin-left: 3px;
}

h2{
    margin-left: 7px;
}

.animate__animated.animate__fadeIn{
    --animate-duration: 500ms;
}

/* footer */

.footer-all{
    width: 100%;
    background-color: #0a141d;
}
.footer-all .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 45px 0px;
}
.footer-all .grupo1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.footer-all .grupo1 .box p{
    color: #efefef;
    margin-bottom: 10px
}

.footer-all .grupo1 .redes-sociales a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.footer-all .grupo1 .redes-sociales a:hover{
    color: aqua;
}

.footer-all .grupo2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.footer-all .grupo2 small{
    font-size: 15px;
}



/* galeria */

.galeria-img{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, auto));
    grid-auto-rows: minmax(400px, auto);
    grid-auto-flow: dense;
    gap: 80px;
    padding-top: 30px;

}

.img-galeria-wide{
    grid-column: span 2;
    border-radius: 7px;
    width: 100%;
}

.img-galeria-tall{
    border-radius: 7px;
    width: 100%;
}

.galeria-img img:hover{
    width: 340px;
    margin: -6px -6px;

}
.galeria-img .img-galeria-wide:hover{
    width: 740px;
    margin: -6px -6px;

}


/* sobre nosotros */

.nosotros{
    display: flex;
    flex-direction: column;
}


/* contactanos */

.form{
    background: rgb(2,1,22);
    background: linear-gradient(90deg, rgba(2,1,22,1) 0%, rgba(16,26,84,1) 25%, rgba(10,57,132,1) 61%, rgba(4,102,184,1) 100%);
    border-radius: 1em;
    width: 80%;
    max-width: 400px;
    padding: 56px 24px;
    margin:10px auto;   
}

.contactos{
    text-align: center;
    color: #efefef;
}

.form-input{
    font-family: inherit;
    font-size: 16px;
    padding: 13px 16px;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 4px;   
}

.form-input-text{
    resize: none;
    padding: 29px 16px;
    margin-bottom: 8px ;
}

.form-container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.send{
    font: inherit;
    background: rgb(2,1,22);
    background: linear-gradient(90deg, rgba(2,1,22,1) 0%, rgba(16,26,84,1) 25%, rgba(10,57,132,1) 61%, rgba(4,102,184,1) 100%);
    color: #fff;
    border: none;
    font-weight: 300;
    font-size: 16px;
    padding: 11px 0;
    border-radius: 4px;
    cursor: pointer;
}

.send:hover {
    background: black;
}


/* ubicacion */

.mapa{
    width: 800px;
    height: 600px;
}

@media screen and (max-width:800px){
    .footer-all .grupo1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 25px 0px;
    }
    .form{
        padding: 56px 16px;
    }  
    .mapa{
        width: 600px;
        height:400px;
     }  

}
@media screen and (max-width: 750px) {
    .galeria-img{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 624px) {
    .img-one img{
        width: 350px;
    }
    .nav{
        flex-direction: column;
    }
    .navegacion{
        margin: 0;
    }
    .img-grupo{
        width: 90%;
    }
    .mapa{
        display: none;
    }
}

@media screen and (max-width: 366px) {
    .nav{
       flex-direction: column;
    }
    .img-one img{
        width: 300px;
    }
    .navegacion{
        margin: 0;
    }
}

/* tuki */