$color-principal: #99b6c8;
$centrado: center;
$completo:  100%;

$colores: (
    "color-principal": #99b6c8,
    "color-letra-nav": #fff,
    "color-fondo-nav": #0b3044,
    "color-borde": #0d212c,
    "color-fondo-footer": #0a141d,
    "color-parrafos": #142730,
    "color-h1": #1c3542,
);


